@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="captionheader">
                <h3>
                    
                        @Html.DisplayFor(modelItem => item.Category.Location) <br />
                    
                                    </h3>
            </div>
            <div class="caption">


                @Html.DisplayNameFor(model => model.ArriveDate):@Html.DisplayFor(modelItem => item.ArriveDate)<br />

                @Html.DisplayNameFor(model => model.DepartDate):@Html.DisplayFor(modelItem => item.DepartDate)<br />

                @Html.DisplayNameFor(model => model.Comment): @Html.DisplayFor(modelItem => item.Comment)<br />
                <br /><h4>Amenities:</h4><br />
                @Html.DisplayNameFor(model => model.Clean):@Html.DisplayFor(modelItem => item.Clean)<br />

                @Html.DisplayNameFor(model => model.PetFriendly):@Html.DisplayFor(modelItem => item.PetFriendly)<br />

                @Html.DisplayNameFor(model => model.Pool): @Html.DisplayFor(modelItem => item.Pool)<br />

                @Html.DisplayNameFor(model => model.OnSiteDining):@Html.DisplayFor(modelItem => item.OnSiteDining)<br />

                @Html.DisplayNameFor(model => model.HouseKeeping): @Html.DisplayFor(modelItem => item.HouseKeeping)<br />

                @Html.DisplayNameFor(model => model.Concierge):@Html.DisplayFor(modelItem => item.Concierge)<br />

                @Html.DisplayNameFor(model => model.NearBeach):@Html.DisplayFor(modelItem => item.NearBeach)<br />

                @Html.DisplayNameFor(model => model.BeachMiles):@Html.DisplayFor(modelItem => item.BeachMiles)<br />

                @Html.DisplayNameFor(model => model.NearMountain): @Html.DisplayFor(modelItem => item.NearMountain)<br />

                @Html.DisplayNameFor(model => model.MountainMiles):@Html.DisplayFor(modelItem => item.MountainMiles)<br />

                @Html.DisplayNameFor(model => model.BikesAvailable): @Html.DisplayFor(modelItem => item.BikesAvailable)<br />

                @Html.DisplayNameFor(model => model.ManyBikes):@Html.DisplayFor(modelItem => item.ManyBikes)<br />

                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })





            </div>
        </div>
    </div>

}

